      /* Settings */
    /* Main Colors */
/* Background */





/* Accents */
._2rjVTGz8aLvqOdz5v2gq5C {
  color: var(--accent) !important;
}


  /*Remove Scroll*/
._18QCu-7MTzd51UpVbYysDy {
  scroll-width: none;
  scrollbar-width: none;
}
