._1FnJ6dPuknQFQ2RTpKTI16 {
    margin-right: unset !important;
}

._3-V8vjmrwuJM6Ws3tsjFJj {
	margin-right: 16px !important;
	
	width: 74% !important;
}

._1FnJ6dPuknQFQ2RTpKTI16 {
    left: 4px;
}
.lO1IF132jJ1gc9yz2HYvV {
    flex-flow: row !important;
    left: 16px !important;
}