/* Loading Screen */
._3sa1NXudhvcc1U7HrlLdNQ {
    transition: all 1.2s ease;
}
._2YwTwqFtU04JgwfzXSAcSV {
    transition: all 1.2s ease;
}

._3sa1NXudhvcc1U7HrlLdNQ img._39-WTtOSEPJqAEjOcNGE3j {
    display: none;
}

._3CN5DkgNMvdtT9fJhNOj_v {
    background-image: url(https://i.imgur.com/Wyc2tBO.png);
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: 308px;
}