.ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
    display: none;
}
._2_FomluqqgQ2Hx8ON3AVep ._1xCcFYWIrJ7W8WRDmGvR3y {
    display: none;
}

._2VtAqT03BpBsVdmxwptn9D {
    display: block !important;
}
._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F {
    margin-top: -2px !important;
    margin-left: 0px;
	
    cursor: pointer;
}
._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D {
    max-width: 16px !important;
	margin-top: 8px;
}
._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA {
    border-radius: 0 0 var(--button-radius) var(--button-radius) !important;
	
    margin-top: 16px;
	width: 32px;
    margin-left: -8px;
}
._2_FomluqqgQ2Hx8ON3AVep {
    margin-top: -10px;
}

._3szjUMH5QeRwtXAsLRcWt9 {
	background-color: var(--main-background);
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 {
    width: 24px;
}