/* Material Code - kuska1 | Big Thanks*/

/* Fix */
._30wJO3MC4x-I1OWpy1TAeE._DialogInputContainer,
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp {
    padding: 8px 0px;
    box-shadow: unset;
}

/* Inside */
._2yAm5LY_eu-Vg_52l0HFlM,
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp {
    border-radius: 6px;
}

._2yAm5LY_eu-Vg_52l0HFlM,
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLp {
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
}
.ContextMenuPopupBody /* Root */ {
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
}

/* Colors */
._3pofGqV0buiKAfMPEs3_82 {
    background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
}
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLpt {
    background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
}
._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_ {
    border-bottom: .2px solid #9aa1ab38;
}

/* Root Menu Fix */
html._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: unset;
}
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    padding: 6px 16px;
}

/* Library Dropdown Fix */
.DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer, 
._1ZpBQtDqcKBbfIIv01Vs1R>div.DesktopUI, .DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R>div {
    background: unset !important;
    box-shadow: unset !important;
}
._2U_Y7A-0lddoJdrJBvf8JE {
    margin-top: unset;
}
._2Sj4-UDM-dHSxtxwQ_Pwwz._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer {
    padding: unset;
    padding-top: 8px;
}

/* Remove Border */
._1UgM1Pm8SbTWX7_2f-crGt {
    border: unset !important;
}


/* animations */
.PP7LM0Ow1K5qkR8WElLpt.visible:not(.ready) {
  opacity: 0 !important;
  clip-path: inset(0 0 100% 0) !important; 
  transform: none !important; 
}

.PP7LM0Ow1K5qkR8WElLpt.visible.ready {
  opacity: 1 !important;
  clip-path: inset(0 0 0 0) !important;
  transform: none !important;
  transition: 
    opacity 0.2s cubic-bezier(0.2, 0, 0, 1),
    clip-path 0.2s cubic-bezier(0.2, 0, 0, 1) !important;
}