/* WIP */
/*Library*/
._9sPoVBFyE_vE87mnZJ5aB:has(._3x1HklzyDs4TEjACrRO2tB) {
    padding: 8px;
  	padding-left: 8px !important;
    padding-right: 0 !important;
}
._3xRRJfD2xy95i9NhJxLTp0 {
    flex-direction: row-reverse;
}
._1ZS_xta5HMXzR8JgxDH6n7 {
	  left: unset !important;
    right: 12.5px;
}

.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo {
    margin-left: 210px !important;
}
