/*WIP*/
/*GamePage*/
._3BFcmjAaMyP6GTPwc0VyWi {
    flex-direction: row-reverse;
}

/*._1J21tLst5SEhBPkVRT53UV div {
    right: unset !important;
	  left: 48px !important;
}
._1J21tLst5SEhBPkVRT53UV:after {
	  right: unset !important;
    left: 64.6px !important;
}*/

/* CREDIT: SpaceTheme | Code from: SpaceTheme - Start Code */
/* Sidebar */
._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    float: left;
    margin-right: 12px;
    margin-left: 0 !important;
}

/* Main */
._3yTl3RiWfo-Itg-xp967wP {
    max-width: unset !important;
}
/* CREDIT: SpaceTheme | Code from: SpaceTheme - End Code */

._1sZgBDTw5NH-yuVDZK1SUU > .vzLedtsu3TtTlKLEKzIhH {
    padding-left: 35%;
}
div.NarrowRightPanel ._1sZgBDTw5NH-yuVDZK1SUU > .vzLedtsu3TtTlKLEKzIhH {
	  padding-left: 36% !important;
}

._1sZgBDTw5NH-yuVDZK1SUU ._2r4TK4BAuU-J4FuF_O7v_5 ._31ptFGGMZrSQc5BCX1e5lm:has(._5uvIN6jXDXzzck59F-nhv._1TGl52GwsFQg3CXUYvThP-) {
    margin-left: 34.5%;
	  margin-right: unset !important;
}
